
<!-- =========================
    TRAINER SECTION   
============================== -->
<section id="trainer" class="parallax-section" {{attributes}}>
     <div class="container">
          <div class="row">

               <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="1.3s">
                    <h2>{{content.field_title.0}}</h2>
                    <p>{{content.field_description.0}}</p>
               </div>
               {{content.field_trainer}}

          </div>
     </div>
</section>