
<!-- =========================
    BLOG HEADER SECTION   
============================== -->
<section id="blog-header" class="parallax-section"  style="background: url({{ file_url(content.field_background_image['#items'].entity.uri.value)}}) no-repeat center;"   {{attributes}}>
     <div class="container">
          <div class="row">

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <h3 class="wow bounceIn" data-wow-delay="0.9s">{{content.field_subtitle.0}}</h3>
                    <h1 class="wow fadeInUp" data-wow-delay="1.6s">
                         {{content.field_title.0}}
                    </h1>
               </div>


          </div>
     </div>
</section>