
                    <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s" {{attributes}}>
                         <i class="fa fa-quote-left"></i>
                         <h3>{{content.field_content.0}}</h3>
                         <h4>{{content.field_name.0}} ( {{content.field_designation.0}} )</h4>
                    </div>
