<table class="table table-striped">
	<thead>
		<tr>
			{% for i in header[0] %}
				<th scope="col">
					{{ i }}
				</th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
<tr>
		{% for tr in rows %}

			<td>{{ tr }}</td>

		{% endfor %}
</tr>


	</tbody>
</table>


{# <td>{{ item }}</td>
<td>
	<a href="">Edit</a>
</td>
<td>
	<a href="">Delete</a>
</td> #}
