{#
/**
 * @file
 * Contains the text of the mydata explanation page
 */
#}

<div class='mydata-description'>
{% trans %}
    <p>The page contain information.</p>
    <p>list of Events</p>
    <p>delete and update operations</p>
{% endtrans %}
</div>
